{% extends "base.html" %}
{% block title %}Docker{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        {% for container in ctrs %}
            <div class="col-sm-12 col-md-6 col-md-offset-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title clearfix">Docker</h1>
                    </div>

                    <div class="panel-body">
                        <h1>{{container.name}}</h1>
                        <ul class="list-group">
                            <li class="list-group-item"><b><i class="glyphicon glyphicon-barcode"></i> ID:</b> {{container.short_id}}</li>
                            <li class="list-group-item"><b><i class="glyphicon glyphicon-film"></i> Imagem:</b> {{container.image|string}}</li>
                            <li class="list-group-item"><b><i class="glyphicon glyphicon-stats"></i> Status:</b> {{container.status}}</li>
                        </ul>
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <a href="/docker/start/{{container.short_id}}" class="btn btn-primary">Iniciar</a>
                                <a href="/docker/stop/{{container.short_id}}" class="btn btn-warning">Parar</a>
                            </div>
                        </div>
                        <p>Container <b>"flask-app"</b> não foi encontrado</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}