{% extends "base.html" %}
{% block title %}Jenkins{% endblock title %}
{% block content %}
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title clearfix">Jenkins</h1>
        </div>
        <div class="panel-body">
            <h2>{{job}}</h2>
            <form action="/jenkins/reconfig/{{job}}" method="POST">
                <textarea class="form-control" name="xml" rows="16" placeholder="Escreva seu  xml">{{xml}}</textarea>
                <br>
                <button class="btn btn-primary pull-right" type="submit">Atualizar</button>
                <button class="btn btn-primary pull-left" type="reset">Reset</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}